.customeCard .jr-card{
    box-shadow: none !important;
    padding:0px;
}

.activebrand{
    border: 2px solid red;
}

.custompargraph{
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 50px;
}

.customdisply{
    display: inline;
}