.customeCard .jr-card{
    box-shadow: none !important;
    padding:0px;
}

.activebrand{
    border: 2px solid #3f51b5;
    box-shadow: 0px 8px 10px rgb(0 0 0 / 20%);
    transition: all 0.4s ease-in-out 0.1s;
    background-color: #f2f2f2;
  
}

.activebrand:hover{
   
}

.custompargraph{
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 50px;
}

.customdisply{
    display: inline;
}

/* image fade-in and out */
.fade-in{
    animation: fadeIn 3s;
}
.fade-incustom{
    animation: fadeIncustom 2s;
}

@keyframes fadeIn {
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}


@keyframes fadeIncustom {
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

.imagebrandhieght{
    height: 100px;
}
.img_solar_brand_hieght{
    height: 80px;
}
.solar>.brand-logo{
    padding-bottom: 80%;
}
.customslider{
    height: 118px;
}

/* country flag */
.customflag{
    width: 20px;
    height: 20px;
}

/* custom widget hover */
.customWidgetHover:hover{
    box-shadow: 0px 8px 10px rgb(0 0 0 / 20%);
    transition: all 0.4s ease-in-out 0.1s;
    background-color: #2236f2;
    border-radius: 5%;
}