.MuiDivider-root{
    background-color: #4a5bb9 !important;
    height: 30px !important;
}
.simpleBtn{
    border-color: #4a5bb9 !important;
}
.MuiFormControl-root.MuiTextField-root{
    margin-left: 10px im !important;
}
.MuiAutocomplete-root{
    display: inline-block !important;
    width: 100% !important;
}
.waterPumpPanel .MuiBox-root{
    padding: 0px !important;
}
 .paddingTopForm{
     padding-top: 20px !important;
 }
 .minWidth{
     width: 100% !important;
 }
 
 .customizedDialog1{
    padding: 0px 0px !important;
 }
 .customizedDialog1 header{
    padding: 8px 24px !important;
 }
 .waterPumpPanel .MuiFormControl-root{
    width: 100%;
 }
 .waterPumpPanel .MuiButton-textPrimary:hover{
    background-color: #4356c3;
    color: #ffffff;
 }