table.report-container{
  page-break-after: always;
}
#report-page-break {
  page-break-after: always !important;
  break-after: page;
}
thead.report-header{
  display: table-header-group;
}
tfoot.report-footer {
  display: table-footer-group;
}
BODY #report-page-break{
  counter-reset: page;      /* Create a page counter scope */
}
tfoot.report-footer #page-number:after {
  content: " Page " counter(page, decimal) ". ";
  counter-increment: page;  /* Add 1 to page */
}
/* #report-page-break {
  page-break-before: always;
} 
tfoot.report-footer #page-number:after {
  content: "Page " counter(page);
  counter-increment: page;
} */

@media print  {
  body {
  	font-size: 13pt;
  }
  #report-page-break {
    page-break-after: always !important;
    break-after: page;
  }
  /* .main {
    float: none !important;
    margin: 0 2% 0 18% !important;
    width: 80% !important;
  } */

  
}


