@media print  {
  body {
  	font-size: 12pt;
  }
  
  main {
    float: none !important;
    margin: 0 2% 0 18% !important;
    width: 80% !important;
  }
  
 
}
table.report-container{
  page-break-after: always;
}
tr.report-page-break .report-content-cell {
  page-break-before: always;
}
thead.report-header{
  display: table-header-group;
}
tfoot.report-footer {
  display: table-footer-group;
}