/* table.report-container{
  page-break-after: always;
}
#report-page-break {
  page-break-after: always !important;
  break-after: page;
}
thead.report-header{
  display: table-header-group;
}
tfoot.report-footer {
  display: table-footer-group;
}
BODY #report-page-break{
  counter-reset: page;  
}
tfoot.report-footer #page-number:after {
  content: " Page " counter(page, decimal) ". ";
  counter-increment: page;  
}
@media print  {
  body {
  	font-size: 13pt;
  }
  #report-page-break {
    page-break-after: always !important;
    break-after: page;
  }  
}

@media all {
  .page-break {
    display: none;
  }
}

@media print {
  html, body {
    height: initial !important;
    overflow: initial !important;
    -webkit-print-color-adjust: exact;
  }
}

@media print {
  .page-break {
    margin-top: 1rem;
    display: block;
    page-break-before: auto;
  }
}

@page {
  size: auto;
  margin: 20mm;
} */


thead.report-header{
  display: table-header-group;
}
tfoot.report-footer {
  display: table-footer-group;
}

.customcolorindarkmode{
  background-color: #fff;
}
.header-info button{
  color: #000;
}
@media print {
  .page {
    page-break-after: always;
  }  
  .structure-img{
    margin-top: 350px;
    margin-bottom: 350px;
  }
  .manual-img{
    margin-top: 100px;
    margin-bottom: 320px;
  }
  .invertor-diamention{
    max-height: 850px;
  }
  .invertor-image{
    max-height: 490px;
  }
  .wiring-img{
    max-height: 1200px;
  }
  tfoot.report-footer #page-number:after {
    content: " Page " counter(page, decimal) ". ";
    counter-increment: page;  
  }
}
@page {
  counter-increment: page;
  counter-reset: page 1;
  @top-right {
      content: "Page " counter(page) " of " counter(pages);
  }
}