.p-Padding-bottom{
    padding-bottom: 15px !important;
}
.row-paddding-top{
    padding-top: 15px !important;
}
.swal2-container{
    z-index: 99999 !important;
}


.sp-second-col .card, .wp-second-col .card{
    max-height: 256px;
}
.paddingBottom{
    padding-bottom: 15px;
}
.diver-sys{
    background-color: #4a5bb9 !important;
    height: 30px !important;
}
.simpleBtn{
    border-color: #4a5bb9 !important;
}
.MuiFormControl-root.MuiTextField-root{
    margin-left: 10px im !important;
}
.MuiAutocomplete-root{
    display: inline-block !important;
    width: 100% !important;
}
.waterPumpPanel .MuiBox-root{
    padding: 0px !important;
}
 .paddingTopForm{
     padding-top: 20px !important;
 }
 .minWidth{
     width: 100% !important;
 }
 
 .customizedDialog1{
    padding: 0px 0px !important;
 }
 .customizedDialog1 header{
    padding: 8px 24px !important;
 }
 .waterPumpPanel .MuiFormControl-root, .fullWidthInput{
    width: 100%;
 }
 .waterPumpPanel .MuiButton-textPrimary:hover{
    background-color: #4356c3;
    color: #ffffff;
 }
 .react-swipeable-view-container > div:first-child, .react-swipeable-view-container > div:last-child{
    width: 549px !important;
    overflow: inherit !important;
 }
.sunnyIcon, .lDrinkIcon{
    height: 2em !important;
    width: 2em !important;
}
.waterPumpPanelBackGrad{
    background: rgb(0,121,254);
background: linear-gradient(90deg, rgba(0,121,254,1) 0%, rgba(5,198,253,1) 100%);
}
.solarPanalBackGrad{
    background: rgb(104,44,48);
background: linear-gradient(0deg, rgba(104,44,48,1) 0%, rgba(165,146,120,1) 40%, rgba(53,110,216,1) 77%, rgba(30,85,177,1) 100%);
}
.insideFormBP{
    padding-bottom: 15px;
}
.accessory_file .dropzone{
    display: flow-root !important;
    float: left;
    margin-right: 30px;
    margin-bottom: 0px;
} 
.accessory_file .dropzone-file-btn{
    height: 100px !important;
    width: 240px !important;
}
.accessory_file .dropzone-card{
    margin-top: -15px;
}
.accessBtn{
    bottom: 5px !important;
    right: 15px !important;
    position: absolute !important;
}
.waterPumFile .dropzone-file-btn{
    height: 100px !important;
    width: 120px !important;
}
.cellPadding{
    padding: 8px !important;
}
.MuiSlider-mark.MuiSlider-markActive {
    background-color: #3f51b5 !important;
}
.MuiSlider-mark {
    background-color: #fff !important;
}
@media(min-width: 904px){
    .dialogWD .MuiDialog-paperWidthSm{
        max-width: 1200px !important;
        min-width: 900px !important;
    }
}

.insideFormPadding, .insideFormPadding1, .insideFormPadding2, .insideFormPadding3{
padding: 0px 15px 10px;
}

.insideFormBPCable{
    padding-bottom: 15px;
    padding-top: 15px;
}

.insideFormPadding1 span[data-index="0"].MuiSlider-markLabel {
    left: 4% !important;
}
.insideFormPadding2 span[data-index="0"].MuiSlider-markLabel, .insideFormPadding3 span[data-index="0"].MuiSlider-markLabel{
    left: 2% !important;
}
.insideFormPadding1 span[data-index="1"].MuiSlider-markLabel {
    left: 94% !important;
}
.insideFormPadding2 span[data-index="1"].MuiSlider-markLabel{
    left: 95% !important;
}
.insideFormPadding3 span[data-index="1"].MuiSlider-markLabel{
    left: 96% !important;
}
.insideFormPaddingWPS{
    padding: 0px 15px 0px;
}
@media(max-width:991px){
    .insideFormPaddingWPS{
        padding: 0px 15px 15px 15px;
    }
}
.insideFormPaddingWPS span[data-index="0"].MuiSlider-markLabel {
    left: 4% !important;
}
.insideFormPaddingWPS span[data-index="1"].MuiSlider-markLabel{
    left: 93% !important;
}
.inWPS3 span[data-index="1"].MuiSlider-markLabel{
    left: 90% !important;
}
.inWPST{
    padding-top: 5px !important;
}
.MuiTypography-body1 {
    font-size: 0.8rem !important;
    margin-bottom: 0px !important;
}
.MuiSlider-markLabel{
    font-size: 0.775rem !important;
}
.MuiSlider-marked {
    margin-bottom: 0px !important;
}

.powerKW-PR{
    padding: 0 22px 22px 15px !important;
}
.powerKW-PR span[data-index="0"].MuiSlider-markLabel {
    left: 4% !important;
}
.powerKW-PR span[data-index="12"].MuiSlider-markLabel {
    left: 97% !important;
}
@media(max-width: 425px){
    .accessory_file .dropzone-file-btn {
        width: 160px !important;
    }
    .waterPumFile .dropzone-file-btn {
        width: 120px !important;
    }
    .btnAccessory, .btn-WPDF{
        height: 47px !important;
    }
    .accessory_file .dropzone{
        margin-right: 5px;
    }
}
.insideFormBP .MuiFormControl-root.MuiTextField-root{
    width: 100%;
}
.insideFormPaddingWPS .bd-example>.btn-group {
    margin: .25rem .125rem;
}
.insideFormPaddingWPS .btn-group, .insideFormPaddingWPS .btn-group-vertical {
    position: relative;
    display: inline-flex;
    vertical-align: middle;
}
.insideFormPaddingWPS .btn-check {
    position: absolute;
    clip: rect(0,0,0,0);
    pointer-events: none;
}
.insideFormPaddingWPS input{
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.insideFormPaddingWPS .btn-group>.btn-group:not(:last-child)>.btn, .insideFormPaddingWPS .btn-group>.btn:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0 !important;;
    border-bottom-right-radius: 0 !important;;
}
.insideFormPaddingWPS .btn-group>.btn-check:checked+.btn{
    z-index: 1;
}
.insideFormPaddingWPS .btn-group>.btn-group:not(:first-child), .insideFormPaddingWPS .btn-group>.btn:not(:first-child) {
    margin-left: -1px;
}
.insideFormPaddingWPS .btn-check:active+.btn-outline-primary, .insideFormPaddingWPS .btn-check:checked+.btn-outline-primary,.insideFormPaddingWPS .btn-outline-primary.active, .insideFormPaddingWPS .btn-outline-primary.dropdown-toggle.show, .insideFormPaddingWPS .btn-outline-primary:active {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}
.insideFormPaddingWPS .btn-group-vertical>.btn, .insideFormPaddingWPS .btn-group>.btn {
    position: relative;
    flex: 1 1 auto;
}
.insideFormPaddingWPS .btn-group>.btn-group:not(:first-child)>.btn, .insideFormPaddingWPS .btn-group>.btn:nth-child(n+3), .insideFormPaddingWPS .btn-group>:not(.btn-check)+.btn{
    border-top-left-radius: 0 !important;;
    border-bottom-left-radius: 0 !important;;
}
.insideFormPaddingWPS .btn-outline-primary {
    color: #0d6efd;
    border-color: #0d6efd;
}
.insideFormPaddingWPS .bd-example>.btn, .insideFormPaddingWPS .bd-example>.btn-group {
    margin: .25rem .125rem !important;
}
.insideFormPaddingWPS .btn {
    border-radius: .25rem !important;
    padding: 0.68rem 0.54rem !important;
}
.insideFormPaddingWPS .btn-group label:first-child{
    border-top-right-radius: 0rem !important;
    border-bottom-right-radius: 0rem !important;
}
.insideFormPaddingWPS .btn-outline-primary:hover {
    color: #fff !important;
    background-color: #0d6efd !important;
    border-color: #0d6efd !important;
}
.insideSPDS .insideFormPaddingWPS {
    padding: 0px 8px 0px;
}
.insideSPDS .dropzone{
    margin-right: 15px;
}
.insideSPDS .dropzone-file-btn {
    height: 40px !important;
    width: 70px !important;
}
.myFormControl{
    padding: 0 5px 10px;
}
.barCharGeo .jr-card {
    padding: 0px 10px 5px 0px!important;
    margin-bottom: 0px !important;
}

.hiegthCard .table-responsive-material{
    overflow-y: scroll !important;
    height: 185px !important;
}